{% extends "base.html" %}

{% block title %}New Banner{% endblock %}
{% block header %}New Banner{% endblock %}

{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="alert alert-warning" role="alert">
	<strong>IMPORTANT!</strong>
	&nbsp;Enter all times relative to this timezone: <b>{{ TIME_ZONE }}</b>
</div>

<form method="post" action="/banners/create/">
	{% csrf_token %}
	{{ form.media }}
	{% include "form_snippet.html" %}
	<button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
