{% extends "base.html" %}

{% block header %}Upcoming Banners{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Prayer Banner Name</th>
			<th scope="col">Start</th>
			<th scope="col">End</th>
			<th scope="col">Website</th>
			<th scope="col">Event Moderator</th>
			<th scope="col">Banner Admin</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for banner in object_list %}
			<tr>
				<th scope="row"><a href="/banners/{{ banner.pk }}">{{ banner.name }}</a></th>
				<td>{{ banner.start_at | date:"M j, Y, P e" }}</td>
				<td>{{ banner.end_at | date:"M j, Y, P e" }}</td>
				<td><a href="{{ banner.url }}" target="_blank">{{ banner.url }}</a></td>
				<td>
					{% if user.is_authenticated and banner.moderator_email %}
						<div><a href="mailto:{{ banner.moderator_email }}">{{ banner.moderator_name }}</a></div>
					{% else %}
						{{ banner.moderator_name }}
					{% endif %}
				</td>
				<td>
					{% if user.is_authenticated %}
						<div><a href="mailto:{{ banner.administrator.email }}">{{ banner.administrator.get_full_name }}</a></div>
					{% else %}
						{{ banner.administrator.get_full_name }}
					{% endif %}
				</td>
				<td>
					{% if perms.banners.change_banner or user == banner.administrator %}
						<a class="btn btn-primary btn-sm" href="/banners/{{ banner.pk }}/edit">
							Edit
						</a>
					{% endif %}
					{% if perms.banners.delete_banner %}
						<form
							method="post"
							action="/banners/{{ banner.pk }}/delete/"
							style="display:inline-block"
							onsubmit="return confirm('Are you sure you want to PERMANENTLY delete &quot;{{ banner.name }}&quot;?')"
						>
							{% csrf_token %}
							<button type="submit" class="btn btn-danger btn-sm">
								Delete
							</button>
						</form>
					{% endif %}
					{% if perms.banners.send_slot_reminders or user == banner.administrator %}
						<form
							method="post"
							action="/banners/{{ banner.pk }}/send-reminders/"
							style="display:inline-block"
							onsubmit="return confirm('Send ALL unsent prayer slot reminders for &quot;{{ banner.name }}&quot;? This should only be done right before the event.')"
						>
							{% csrf_token %}
							<button type="submit" class="btn btn-secondary btn-sm">
								Send Reminders
							</button>
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
