<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}Prayer Banner{% endblock %}</title>

		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	</head>
	<body style="display:flex; flex-direction:column; min-height:100vh;">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#08088A">
			<div class="container-fluid">
				{% comment %}<img src="{% static 'img/banner.gif' %}" alt="Prayer Banner">{% endcomment %}
				<a class="navbar-brand" href="/">Prayer Banner</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% if user.is_staff %}
							<li class="nav-item"><a class="nav-link" href="/admin" class="navbar-item">Admin</a></li>
						{% endif %}
						{% if perms.banners.add_banner %}
							<li class="nav-item"><a class="nav-link" href="/banners/create" class="navbar-item">New Banner</a></li>
						{% endif %}
					</ul>

					<ul class="navbar-nav ml-auto">
						{% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-link navbar-item" href="/accounts/profile">Profile</a></li>
							<li class="nav-item"><a class="nav-link navbar-item" href="/accounts/logout">Log out</a></li>
						{% else %}
							<li class="nav-item"><a class="nav-link navbar-item" href="/accounts/signup">Sign up</a></li>
							<li class="nav-item"><a class="nav-link navbar-item" href="/accounts/login">Log in</a></li>
						{% endif %}
						</div>
					</ul>
				</div>
			</div>
		</nav>

		{% if messages %}
			{% for message in messages %}
				<div class="{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}

		<div class="container" style="flex:1; padding-top:1em;">
			<h2 style="margin-bottom:0.5em">
				{% block header %}{% endblock %}
			</h2>

			<div style="padding: 0 0.5em">
				{% block content %}This page has no content.{% endblock %}
			</div>
		</div>

		{% comment %}extra_body is for allauth compatibility{% endcomment %}
		{% block extra_body %}{% endblock %}

		{% load tz_detect %}
		{% tz_detect %}

		<footer class="bg-light border-top" style="padding:0.3em 1em">
			<small class="text-muted" style="float:right">
				{% now 'Y-m-d H:i:s e' %}
			</small>
		</footer>

		{% block scripts %}{% endblock scripts %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	</body>
</html>
