{% extends "base.html" %}

{% block title %}FAQ{% endblock %}
{% block header %}Frequently Asked Questions{% endblock %}

{% block content %}
<h5>Why is my password not working?</h5>
<p>
Prayer Banner was rewritten from the ground up in April 2021.
We were not able to migrate user accounts to the new site.
As a result, if you signed up on the old site, you will need to sign up again.
</p>

<h5>How do I sign up?</h5>
<p>
Click Sign Up in the top menu.
After submitting the form, you should receive a verification email.
Click the link in the email to activate your account.
</p>

<h5>What if I don't receive the verification email?</h5>
<p>
Wait a few minutes and check your spam folder.
If you still don't see it, there may have been a typo in your submission.
Please try to sign up again.
</p>

<h5>How can I stop the emails from going to my spam folder?</h5>
<p>
Please add manager@prayerbanner.org and admin@prayerbanner.org to your safe sender list or whitelist.
</p>

<h5>How do I reserve a prayer slot?</h5>
<p>
After you log in, you will see a list of upcoming prayer banners.
Click on the name of the event you wish to pray for.
You will see a list of reserved and available prayer slots.
Click the Reserve button next to an available slot and then confirm your selection.
</p>

<h5>I lost my password. Can you send it to me?</h5>
<p>
We do not have access to passwords.
You can click the "Forgot Password" link on the log in page to reset your password.
</p>

<br><hr>

<h4>Questions for Banner Admins</h4>

<h5>How can I set up a new banner?</h5>
<p>
At this time only the National tech team has the ability to create banners.
Please send new banner requests to <a href="mailto:admin@prayerbanner.org">admin@prayerbanner.org</a>.
</p>

<h5>What information do you need to set up a new banner?</h5>
<p>Here is an example email with the required information. Please use this as a template.</p>
<p><b>Email Subject:</b><br>Austin Pilgrimage #49 banner request</p>
<p>
<b>Email Body:</b>
<br><i>Weekend Name:</i> Austin Pilgrimage #49 [full name, no abbreviations]
<br><i>Start:</i> May 21, 2021, 6pm Central [include time zone]
<br><i>End:</i> May 23, 2021, 12pm Central [include time zone]
<br><i>Banner Administrator:</i> John Doe (john.doe@fake.email)
<br><i>Weekend Moderator:</i> Jane Doe (jane.doe@fake.email)
</p>

<h5>How far in advance of a weekend should we set up the banner?</h5>
<p>
No more than three months. One month is usually plenty.
</p>

<h5>How do I administer my banner?</h5>
<p>
After logging in, if you are set as a banner's admin, you will see an Edit button next to that banner on the home page.
This is mostly used to update the staff/participant lists. Start/end times should not change once the banner is made public.
</p>

<h5>How do the reminders get sent out?</h5>
<p>
For those with access, there is a Send Reminders button next to the banner on the home page.
This will email everyone who signed up for one or more prayer slots.
This should only be done within a few days of the start date.
</p>
{% endblock %}
